<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script>
    /*
      vue2的响应式
        实现原理
          对象类型：通过Object.defineProperty()对属性的读取，修改进行拦截（数据劫持）
          数组类型，通过更新重写更新数组的一些列方法实现拦截（对数组的变更方法进行了包裹）
        存在的问题
          新增属性、删除属性、界面不会更新
          直接通过下标修改数据，界面不会自动更新
    

      vue3 的响应式原理
        实现原理
          通过Proxy(代理)， 拦截对象中任意属性的变化，包括：属性值的读写、属性的添加、属性的删除等
          通过Reflect(反射): 对被代理对象的属性进行操作

    */

    // 源数据
    let person = {
      name: "张三",
      age: 18
    }

    // // 模拟vue2中实现的响应式
    // let p = {}
    // // 通过objec.defineProperty去操作
    // Object.defineProperty(p, 'name', {
    //   configurable:true,
    //   get() { // 用人获取name时调用
    //     return person.name
    //   },
    //   set(value) { // 有人修改name时调用
    //     person.age = value
    //   }
    // })
    // Object.defineProperty(p, 'age', {
    //   configurable:true,
    //   get() { // 用人获取name时调用
    //     return person.name
    //   },
    //   set(value) { // 有人修改name时调用
    //     person.age = value
    //   }
    // })


    // 模拟vue3中的响应式原理
    const per = new Proxy(person, {
      get(target, propName) {
        console.log('有人读取了per身上的属性')
        // return target[propName]
        return Reflect.get(target, propName)
      },
      set(target, propName, value) {
        console.log('有人修改了per身上的数据')
        // target[propName] = value
        return Reflect.set(target, propName)
      },
      deleteProperty(target, propName) {
        console.log('有人删除了person的某个对象')
        // return delete target[propName]
        return Reflect.deleteProperty(target, propName)
      }
    })

    // let obj  = {a: 1, b:2}
    // // 通过Reflect.defineProty去操作
    // const x1 = Reflect.deleteProperty(obj, 'c',{
    //   get() {
    //     return 3
    //   }
    // })


  </script>
</body>
</html>